// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #a5a5a5;
    background: url(https://prizedrive.s3-ap-southeast-2.amazonaws.com/assets/background.png)
        center top;
    font-family: "Raleway", sans-serif;
}
nav {
    background-image: linear-gradient(to bottom right, black, darkred);
}
.nav-badge {
    background-image: linear-gradient(to bottom right, black, darkred);
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.products-list {
    margin: 2rem;
    background-color: rgba(0, 0, 255, 0.1);
}
.feature {
    margin: 2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.1);
    .card {
        border-radius: 16px;
        box-shadow: -1rem 0 3rem #000;
    }
}
.product-list img {
    width: 300px;
    opacity: 1;
}
.product-list .card:hover {
    opacity: 0.3;
    .drop-rate {
        transition: 0.5s ease;
        opacity: 1;
    }
}

.drop-rate {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
    background: rgba(0, 0, 255, 0.1);
}
// img:hover .drop-rate {
//     opacity: 1;
//     background: red;
// }

.card-list {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 255, 0.1);
}
.card-list .card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
}
.card-list .card:hover {
    transform: translateY(-1rem);
}

.boxview {
    text-align: center;
    position: relative;
    background-color: rgba(41, 19, 19, 0.1);
}

#open-btn {
    position: absolute;
    top: 80%;
    left: 45%;
}

#title {
    background-color: white;
}

main,
.sidebar {
    min-height: 100vh;
}

#open-img {
    width: 400px;
    height: 400px;
}
.rotate {
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    to {
        transform: rotateY(360deg);
    }
}

.knife {
    display: none;
    position: absolute;
    transform: rotate(-90deg);
}
.open {
    animation: open 5s;
    display: block;
    top: 75px;
    left: 40px;
}
@keyframes open {
    from {
        // top: 200px;
        // left: 40px;
    }
    to {
        top: -57px;
        left: 450px;
    }
}
