// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #a5a5a5;
    background: url(https://prizedrive.s3-ap-southeast-2.amazonaws.com/assets/background.png)
        center top;
}
nav {
    background-image: linear-gradient(to bottom right, black, darkred);
}
.nav-badge {
    background-image: linear-gradient(to bottom right, black, darkred);
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.products-list {
    margin: 2rem;
}
.feature {
    margin: 2rem;
    display: flex;
    justify-content: center;

    .card {
        border-radius: 16px;
        box-shadow: -1rem 0 3rem #000;
    }
}
.card-list {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.card-list .card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
}
.card-list .card:hover {
    transform: translateY(-1rem);
}

#open-btn {
    position: absolute;
    top: 70%;
    left: 50%;
}

#title {
    background-color: white;
}

main,
.sidebar {
    min-height: 100vh;
}

#open-img {
    width: 400px;
    height: 400px;
}
.rotate {
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    to {
        transform: rotateY(360deg);
    }
}

.knife {
    display: none;
    position: absolute;
    transform: rotate(-90deg);
}
.open {
    animation: open 5s;
    display: block;
    top: 75px;
    left: 40px;
}
@keyframes open {
    from {
        // top: 200px;
        // left: 40px;
    }
    to {
        top: -57px;
        left: 450px;
    }
}
