// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.products-list {
    margin: 2rem;
}
.feature {
    text-align: center;
    margin: 2rem;
}
.card-list {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.card-list .card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
}
.card-list .card:hover {
    transform: translateY(-1rem);
}

.feature {
    display: inline-block;
    width: 440px;
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
}

#title {
    background-color: white;
}
body {
    background-color: darkblue;
    // background-image: repeating-linear-gradient(
    //         45deg,
    //         rgba(0, 0, 0, 0.8),
    //         rgba(0, 0, 0, 0.8) 100px,
    //         transparent 0px,
    //         transparent 200px
    //     ),
    //     repeating-linear-gradient(
    //         -45deg,
    //         rgba(0, 0, 0, 0.5),
    //         rgba(0, 0, 0, 0.5) 100px,
    //         transparent 0px,
    //         transparent 200px
    //     );

    height: 100vh;
    margin: 0;
    // place-items: center;
    //display: grid;
}
